
# Import Python libraries.

In [110]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [111]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Import Datasets

In [112]:
train_data = pd.read_csv(r"/content/sample_data/Training Data.csv")
test_data = pd.read_csv(r"/content/sample_data/Test Data.csv")

# Check how train dataset looks like.

In [113]:
train_data.head()

   Id   income  age  ...  current_job_years current_house_years risk_flag
0   1  1303835   23  ...                  3                  13         0
1   2  7574516   40  ...                  9                  13         0
2   3  3991815   66  ...                  4                  10         0
3   4  6256451   41  ...                  2                  12         1
4   5  5768871   47  ...                  3                  14         1

[5 rows x 13 columns]

In [114]:
train_data.shape

(252000, 13)

In [115]:
test_data.head()

   id   income  age  ...        state current_job_years current_house_years
0   1  7393090   59  ...  West Bengal                 4                  13
1   2  1215004   25  ...  Maharashtra                 5                  10
2   3  8901342   50  ...  Maharashtra                 9                  14
3   4  1944421   49  ...  Maharashtra                 3                  12
4   5    13429   25  ...  West Bengal                13                  11

[5 rows x 12 columns]

In [116]:
test_data.shape

(28000, 12)

# Convert datatype of selected fields.

In [117]:
train_data["profession"]=pd.factorize(train_data.profession)[0]
train_data["city"]=pd.factorize(train_data.city)[0]
train_data["state"]=pd.factorize(train_data.state)[0]
train_data["married"]=pd.factorize(train_data.married)[0]
train_data["house_ownership"]=pd.factorize(train_data.house_ownership)[0]
train_data["car_ownership"]=pd.factorize(train_data.car_ownership)[0]

In [118]:
test_data["profession"]=pd.factorize(test_data.profession)[0]
test_data["city"]=pd.factorize(test_data.city)[0]
test_data["state"]=pd.factorize(test_data.state)[0]
test_data["married"]=pd.factorize(test_data.married)[0]
test_data["house_ownership"]=pd.factorize(test_data.house_ownership)[0]
test_data["car_ownership"]=pd.factorize(test_data.car_ownership)[0]

# Drop the dependent variable from the train dataset.

In [119]:
xtrain=train_data.drop("risk_flag",axis=1)
ytrain=train_data["risk_flag"]

# Train your model

In [120]:
from sklearn.tree import DecisionTreeClassifier
DTClassifier= DecisionTreeClassifier(criterion='entropy', random_state=0, max_features=6, max_depth=10)
DTClassifier.fit(xtrain, ytrain)
DTClassifier.set_params()

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=10, max_features=6, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

# Predict on test_data set

In [121]:
y_pred= DTClassifier.predict(test_data)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [122]:
roc_auc_score = DTClassifier.score(xtrain, ytrain)
roc_auc_score

0.881829365079365